<% layout("/layouts/boilerplate") %>

<h3 class="text-center mt-3">Edit your Listing</h3>
<div class="row">
  <div class="col-10 col-lg-10 offset-1">
    <form
      method="POST"
      action="/listings/<%= listing.id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div>
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter title</div>
      </div>
      <br />
      <div>
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required>
            <%= listing.description %>
            </textarea
        >

        <div class="invalid-feedback">Please enter a short description</div>
      </div>
      <br />
      <div>
        Original Listing Image <br />
        <img
          src="<%= listing.image.url %>"
          style="height: 150px; width: 165px"
        />
      </div>
      <br />
      <div>
        <label for="image" class="form-label">Upload new Image</label>
        <input type="file" name="listing[image]" class="form-control" />
      </div>
      <br />
      <div class="row">
        <div class="col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            name="listing[price]"
            value="<%= listing.price %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid price</div>
        </div>
        <br />
        <div class="col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= listing.country %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name shoud be valid</div>
        </div>
      </div>
      <br />
      <div>
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          value="<%= listing.location %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location shoud be valid</div>
      </div>
      <br />
      <label for="category" class="form-label">Category</label>
      <select
        name="listing[category]"
        id="category"
        class="form-select"
        aria-label="Multiple select example"
        required
      >
        <option selected disabled value="">Open this select menu</option>
        <option value="Beach">Beach</option>
        <option value="Cottage">Cottage</option>
        <option value="Boats">Boats</option>
        <option value="Domes">Domes</option>
        <option value="Cities">Cities</option>
        <option value="Mountains">Mountains</option>
        <option value="Castles">Castles</option>
        <option value="Arctic">Arctic</option>
        <option value="Camping">Camping</option>
        <option value="Pools">Pools</option>
        <option value="Farms">Farms</option>
        <option value="Van">Van</option>
        <option value="Tower">Tower</option>
        <option value="Farms">Other</option>
      </select>
      <div class="invalid-feedback">Please select a Catagory.</div>
      <br />
      <button class="Btn">Save</button>
      <br /><br />
    </form>
  </div>
</div>
